<html>
  <head>
    {% if title %}
    <title>{{ title }} - #IntroCM HW 1 Recommendation System</title>
    {% else %}
    <title>Welcome to #IntrocM HW1</title>
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.2.0.min.js') }}"> </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.4.js" type="text/javascript"></script> 
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='fb.js') }}"> </script> 
  </head>
  <body>
 
 
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
