{% extends "base.html" %}

{% block content %}

    <div id="fb-root"></div>

  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}

      <div 
        class="fb-login-button" 
        scope="public_profile,email,user_friends,user_actions.music,user_photos,user_posts,user_likes" 
        data-max-rows="1" 
        data-size="xlarge" 
        data-show-faces="false" 
        data-auto-logout-link="true">
      </div>

      <div id="status">
      </div>
  </form>
{% endblock %}